/* styles.css */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.navbar {
    background-color: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
}

.navbar.scrolled {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

.navbar ul {
    list-style-type: none;
    padding: 0;
}

.navbar ul li {
    display: inline;
    margin: 0 15px;
}

.navbar a {
    color: black;
    text-decoration: none;
    padding: 12px 25px;
    border-radius: 30px;
    background-color: white;
    transition: background-color 0.3s, transform 0.3s;
}

.navbar a:hover {
    background-color: #e0e0e0;
    transform: scale(1.05);
}

.content {
    padding: 20px;
}

.story {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.story:hover {
    transform: translateY(-5px);
}

h2 {
    margin-top: 0;
    color: #333;
} 